 ------Day 3 Assignment ----

Q1.Dataset: Customer Churn (intentionally messy)

•Missing age values ?

•Duplicate rows ?

•Inconsistent gender formats Sal    ary outliers ??)

Task:- "Clean this dataset so it is ready for machine learning.??

In [18]:

# Create Customer Churn  Messy Dataset
import pandas as pd
import numpy as np

data = {
    "customer_id": [1,2,3,4,5,6,7,8,9,10,10],
    "age": [25, None, 35, 40, None, 28, 30, 45, 50, 200, 200],
    "gender": ["Male", "F", "female", "M", "Male", "female", "m", "Female", "F", "Male", "Male"],
    "salary": [25000, 30000, 28000, 40000, 27000, 26000, 29000, 1000000, 32000, 45000, 45000],
    "churn": ["Yes", "No", "No", "Yes", "No", "Yes", "No", "No", "Yes", "No", "No"]
}

df = pd.DataFrame(data)
df

    customer_id    age  gender   salary churn
0             1   25.0    Male    25000   Yes
1             2    NaN       F    30000    No
2             3   35.0  female    28000    No
3             4   40.0       M    40000   Yes
4             5    NaN    Male    27000    No
5             6   28.0  female    26000   Yes
6             7   30.0       m    29000    No
7             8   45.0  Female  1000000    No
8             9   50.0       F    32000   Yes
9            10  200.0    Male    45000    No
10           10  200.0    Male    45000    No

In [19]:
#Missing Age Values
df['age'] = df['age'].fillna(df['age'].median())

In [9]:
#Remove Duplicate Rows
df = df.drop_duplicates()

In [11]:
# Inconsistent Gender Format
df['gender'] = df['gender'].str.lower()
df['gender'] = df['gender'].replace({'m':'male','f':'female'})

/tmp/ipython-input-4184827194.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].str.lower()
/tmp/ipython-input-4184827194.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].replace({'m':'male','f':'female'})

In [15]:
#Salary outliers

q1 = df['salary'].quantile(0.25)
q3 = df['salary'].quantile(0.75)
iqr = q3 - q1

lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr

df = df[(df['salary'] >= lower) & (df['salary'] <= upper)]
df.info() # Clean this dataset so it is ready for machine learning
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 8
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  7 non-null      int64
 1   age          7 non-null      float64
 2   gender       7 non-null      object
 3   salary       7 non-null      int64
 4   churn        7 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 336.0+ bytes

   customer_id   age  gender  salary churn
0            1  25.0    male   25000   Yes
1            2  40.0  female   30000    No
2            3  35.0  female   28000    No
4            5  40.0    male   27000    No
5            6  28.0  female   26000   Yes